@{
    ViewBag.Title = "A doutrina que importa para você";
}
<div class="row">
    <div class="search-box col-md-12">
        <h1>Pesquise <br/> Em mais de <strong id="total-doctrines"></strong> doutrinas.
        </h1>
        <div class="search-field row">
            <div class="col-md-10">
                <input type="text" id="search-term" class="search-enter" placeholder="Palavra-chave, autor ou título">
            </div>
            <div class="col-md-2">
                <button id="search-btn" class="btn search-btn">pesquisar</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="response-box-container" class="search-result hidden"></div>
            </div>
        </div>
    </div>
</div>

<button type="button" data-toggle="tooltip" data-placement="top" title="Copie a citação" class="btn btn-quote hidden" id="quote-btn"><i class="fa fa-quote-right"></i></button>